.blog.box{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
    width: 450px;
    height: 350px;
    margin: 20px;   
    float: left;
    cursor: pointer;
    border-radius: 8px;
}
.image{
    width: 450px;
    height: 300px;
}

.cross{
    float: right;
}
.title{
    float : left;
    font-size: large;
    font-weight: bold;
    width: 80%;
}

.body{
    float : left;
}

.blog.button {
    background-color: #08b27f;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }
  .blog.create.container{
    border-radius: 8px;
    background-color: #F8F8F8;
    padding: 20px;
    width: 1200px;
    box-shadow: 5px 10px 4px 1px #D0D0D0;
  }

  .fileUploader{
      width : 90% !important;
  }

  .fileContainer{
      background: #F8F8F8 !important;
  }

  .blogs.container{
      max-width: 80%;
  }

.blog.thumbnail{
    width: 450px;
    height: 250px;
    border: 1px solid;
    border-radius: 8px;
}

.blog.image{
    width: 450px;
    height: 250px;
    border-radius: 8px;
}

.blog.info{
    padding :10px;
}