.blog.box{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
    width: 150px;
    height: 150px;
    margin: 20px;   
    float: left;
    cursor: pointer;
}
.image{
    width: 450px;
    height: 300px;
}

.cross{
    float: right;
}
.title{
    float : left;
    font-size: large;
    font-weight: bold;
}

.body{
    float : left;
}

.blog.button {
    background-color: #08b27f;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
  }