.blog.box{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
    width: 150px;
    height: 150px;
    margin: 20px;   
    float: left;
    cursor: pointer;
}
.image{
    width: 450px;
    height: 300px;
}