.header-fixed {
    top: 0;
    left: 0;
    background-color: #0088cc;
    height: 100px;
    margin-bottom: 20px;
}

.heading {
    padding-left: 10%;
    padding-top: 20px;
}

.authorization {
    float: right;
    padding-right: 10%;
    display: inline;
}

.inline {
    display: inline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
    width: 200px
}

li:hover{
    background-color: rgb(160, 226, 243);
    border-radius: 20px;
}

li {
    float: left;
}

.authorization.heading{
    width: 100px;
}

.authorization.heading:hover .dropDownContent {
    display: block;
}
.dropDownContent{
    display : none;
    position : absolute;
}

.dropDownContent a{
    color: black;
    padding: 12px;
    display: block;
    text-decoration: none;
    background-color: gray;
}

.dropDownContent a:hover{
    background-color: lightgrey;
}
