.header-fixed {
    top: 0;
    left: 0;
    height: 65px;
    background-color:white;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px -1px rgba(0,0,0,.25);
    transition: top .2s ease-in-out;
    line-height: 65px;
    
}

.heading {
    text-transform: uppercase;
    font-size: 15px;
    letter-spacing: 1.5px;
    color: #08b27f;
    margin: auto;
    max-width: 75%;
}

.authorization {
    float: right;
    padding-right: 10%;
    display: inline;
}

.inline {
    display: inline;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

li:hover{
    background-color: rgb(160, 226, 243);
    border-radius: 20px;
}

li {
    float: left;
}

.authorization.heading{
    width: 100px;
}

.authorization.heading:hover .dropDownContent {
    display: block;
}
.dropDownContent{
    display : none;
    position : absolute;
}

.dropDownContent a{
    color: black;
    padding: 12px;
    display: block;
    text-decoration: none;
    background-color: gray;
}

.dropDownContent a:hover{
    background-color: lightgrey;
}
