ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
    width: 200px
}

li a {
    display: block;

    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

li:hover {
    background-color: gray;
}

.active {
    background-color: #4CAF50;
    color: white;
}

.formLabel {
    margin-top: 1rem;
    margin-bottom: .5rem;
    color: black;
    display: block;
    outline: none;
    font-family: helvetica neue, helvetica, sans-serif;
    margin-left: 30px;
}

.formInput {
    box-sizing: border-box;
    padding: .5rem;
    width: 30%;
    display: block;
    border-color: rgba(0, 0, 0, .1);
    border-style: solid;
    border-width: 1px;
    overflow: visible;
    line-height: 1.15;
    margin: 0 0 0 30px;
    outline: none;
    border-radius: 7%;
}

button {
    max-width: 150px;
    margin: 20px 0;
    padding: 12px 20px;
    border-style: none;
    border-radius: 5px;
    background-color: #08c;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.small{
    padding: 7px;
}

.event {
    border-width: 0;
}

.content {
    width: 80%;
    float: right
}

.menu {
    width: 20%;
    float: left;
}

.border{
    border: 1px solid;
}

td{
    border: 1px solid;
}

body {
    margin: 0;
}
.hide{
    display : none !important;
}