ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

li a {
    display: block;

    color: #000;
    text-decoration: none;
}




.formLabel {
    margin-top: 1rem;
    margin-bottom: .5rem;
    color: black;
    display: block;
    outline: none;
    font-family: helvetica neue, helvetica, sans-serif;
    margin-left: 30px;
}

.formInput {
    box-sizing: border-box;
    padding: .5rem;
    width: 30%;
    display: block;
    border-color: rgba(0, 0, 0, .1);
    border-style: solid;
    border-width: 1px;
    overflow: visible;
    line-height: 1.15;
    margin: 0 0 0 30px;
    outline: none;
    border-radius: 7%;
}

button {
    max-width: 150px;
    margin: 20px 0;
    padding: 12px 20px;
    border-style: none;
    border-radius: 5px;
  
    
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.15);
    font-size: 17px;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    outline: none;
}

.small{
    padding: 7px;
}

.event {
    border-width: 0;
}

.content {
    width: 95%;
    /* float: right */
    margin: auto;
}

.menu {
    width: 20%;
    float: left;
}

.border{
    border: 1px solid;
}

td{
    border: 1px solid;
}

body {
    margin: 0;
}
.hide{
    display : none !important;
}

.rdw-editor-wrapper {
    border:1px solid;
    width: 90%;
}

.rdw-editor-toolbar {
    border-bottom: 1px solid;
}

.login.button {
    background-color: #08b27f;
    border: none;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
    margin : 30px 30px ;
}

input[type=text], [type=password] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    resize: vertical;
    max-width: 80%;
}

.login.container{
    border-radius: 8px;
    background-color: gray;
    padding: 20px;
    width: 450px;
    box-shadow: 5px 10px 4px 1px #D0D0D0;
}

.welcome{
    margin: 50px;
    padding: 20px 150px;
}