.navbar-fixed{
    float : left;
    padding: 0 15px;
}

.navbar-row{
    background-color: white;
    padding:  0 16px;
}

.navbar-row:hover{
    background-color: gray;
    padding:  0 16px;
}







