.navbar-fixed{
    float : left;
}

.navbar-row{
    background-color: white;
    padding:  0 16px;
}

.active{
    font-weight: bold; 
    background-color: white;
}

.navbar-row:hover{
    background-color: darkgray;
    border-radius: 0px;
}




