ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #f1f1f1;
	width: 100px
}

li a {
	display: block;
	width: 60px;
	color: #000;
	padding: 8px 16px;
	text-decoration: none;
}

.active {
	background-color: #4CAF50;
	color: white;
}

.formLabel {
	margin-top: 1rem;
	margin-bottom: .5rem;
	color: #aaa;
	display: block;
	outline: none;
	font-family: helvetica neue,helvetica,sans-serif;
	margin-left: 30px;
}

.formInput {
	box-sizing: border-box;
	margin-bottom: .5rem;
	padding: .5rem;
	width: 30%;
	display: block;
	border-radius: .125rem;
	border-color: rgba(0,0,0,.1);
	border-style: solid;
	border-width: 1px;
	overflow: visible;
	line-height: 1.15;
	margin: 0;
	margin-left: 30px;
	outline: none;
}

button {
	max-width: 150px;
	margin: 20px 0;
	padding: 12px 20px;
	border-style: none;
	border-radius: 5px;
	background-color: #08c;
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
	font-size: 17px;
	font-weight: 500;
	color: #fff;
	cursor: pointer;
	outline: none;
}